
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
    background: white;
    color: white;
    font-family: helvetica;
    font-size: large;
    margin: 0;

    position: relative;
    padding-bottom: 5rem;
    min-height: 100%;
}



header {
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(40, 40, 40, 0.8)), url("images/filey/Spash.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding: 20px 0;
    height: 450px;
    position: relative;
}

header a {
    color: white;
}

nav {
    padding-bottom: 15px;
    position: absolute;
    bottom: 0px;
    margin: 0 10%;
}

nav h1 {
    font-size: 36px;
    margin: 0;
}

nav .title a {
    display: none;
}

nav ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    border-radius: 3px;
    padding: 5px;
}

header li:last-child {
    margin-right: 0;
}

nav li:hover {
    background-color: rgba(211, 211, 211, 0.25);
}



.content {
    margin: 0;
    padding: 50px 10%;
    background: white;
    color: gray;
}

section {
    margin-bottom:30px;
}

.features {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: 10px;
    text-align: center;
}

.features figure img {
    width: 400px;
    box-shadow: grey 0 0 5px;
    border: 1px solid grey;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color:black;
}


footer {
    color: grey;
    background: black;
    padding: 20px 10%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;

    position: absolute;
}

@media screen and (max-width: 1070px) {
    .features figure img {
        width: 300px;
    }
}

@media screen and (max-width: 550px) {
    header {
        height: 350px;
    }

    .features figure img {
        width: 100%;
    }

    nav .title {
        display: flex;
        font-size: 36px;
    }

    nav .title a {
        display: flex;
        padding-left: 10px
    }

    nav .nav-list {
        display: none;
    }

    nav .nav-list.responsive {
        display: block;
    }

    nav li {
        display: block;
    }
}